@page "/CreateAccount/{Username}"
@attribute [Authorize(Policy = "AdminRole")]
@using BlazorClient.Data.AdminValidation
@using BlazorClient.Data.NotificationService
@inject INotificationService _notification
@inject IAdminService _service

<h1> Create Account for : @Username </h1>
<button disabled="@_loading" class="btn btn-light" @onclick="CreateAccountFor">Create Account
    @if (_loading) 
    {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
</button>
<div style="color:red">@_errorMessage</div>

@code {
    [Parameter] public string  Username { get; set; }
    private bool _loading;
    private string _errorMessage;


    private async Task CreateAccountFor()
    {
        _loading = true;
        try
        {
            String successMessage = await _service.CreateAccountAsync(Username);
            _errorMessage = successMessage;
            _loading = false;
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }

}