@page "/CreateAccount/{CprNumber:int}"
@using BlazorClient.Data.AdminValidation
@using BlazorClient.Data.NotificationService
@inject INotificationService _notification
@inject IAdminService _service

<h1> Create Account for : @CprNumber </h1>
<button disabled="@_loading" class="btn btn-light" @onclick="CreateAccountFor">Create Account
    @if (_loading) 
    {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
</button>

@*<h1> Send notification to : @CprNumber </h1>
<button disabled="@_loading1" class="btn btn-light" @onclick="SendNotificationAsync">Send Notification
    @if (_loading1) 
    {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
</button>*@

@code {
    [Parameter] public int CprNumber { get; set; }
    private bool _loading;
    private bool _loading1;
    private string _errorMessage;


    private async Task CreateAccountFor()
    {
        _loading = true;
        try
        {
           // String successMessage = await _service.CreateAccount(CprNumber);
           // _errorMessage = successMessage;
            await _notification.SendNotificationToUserAsync(CprNumber);
            _loading = false;
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }

    /*private async Task SendNotificationAsync()
    {
        _loading1 = true;
        try
        {
             await _notification.SendNotificationToUserAsync(CprNumber);
            _loading1 = false;
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            _loading1 = false;
        }
    }*/

}