@page "/"
@using BlazorClient.Data



<h2> Sparekassen Kronjylland </h2>

<h4> Our doors are open </h4>

<p>We are still happy to help you over the phone and email, so we can continue to take good care of each other.</p>

@*<AuthorizeView>
    <Authorized>
        <button @onclick="@(ShowNotification)">Show Notification</button>
    </Authorized>
    
    
</AuthorizeView>

@code {
    
    private void ShowNotification()
    {
       // Notification.GetNotifications();
    }
}*@
