@page "/NotificationPage/{Username}"
@using BlazorClient.Models
@using BlazorClient.Data.NotificationService
@inject INotificationService _service

<p>Notification page</p>
@if (_notifications == null)
{
    <p>
        <em>No messages!</em>
    </p>
}
<div class="card">
    <h4> Notifications for: @Username </h4>
    <div class="card-body">
        <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var n in _notifications)
                {
                    <tr>
                        <td>@n.Id</td>
                        <td>@n.Message</td>
                    </tr>
                }
                </tbody>
            </table>
    </div>
</div>
@code { 
    [Parameter] public string Username { get; set; }
    private IList<Notification> _notifications = new List<Notification>();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Request form page "  + Username);
        _notifications = await _service.GetNotificationFromAdminAsync(Username);
    }
}