@page "/NotificationPage"
@using BlazorClient.Models
@using BlazorClient.Data.NotificationService
@using BlazorClient.Authentication
@inject INotificationService _service

<AuthorizeView>
    <Authorized>
        <p>Notification page</p>
        @if (_notifications == null)
        {
            <p>
                <em>No messages!</em>
            </p>
        }
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var n in _notifications)
                    {
                        <tr>
                            <td>@n.Message</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    
    private IList<Notification> _notifications = new List<Notification>();

    protected override async Task OnInitializedAsync()
    {
         string un = CustomAuthenticationStateProvider.storedUser.Username;
        Console.WriteLine(un);
        _notifications = await _service.GetNotificationFromAdminAsync(un);
    }
}