@page "/NotificationPage/{Username}"
@using BlazorClient.Models
@using BlazorClient.Data.NotificationService
@inject INotificationService _service

<p>Notification page</p>
@if (_notification == null)
{
    <p>
        <em>No messages!</em>
    </p>
}
<div class="card">
    <h4> Notifications for: @Username </h4>
    <div class="card-body">
        <div class="col-5">
           Id:<br/>
            <input type="number" placeholder="ID" @bind-value="_notification.Id"/>
        </div>
        <div class="col-10">
            Message:<br/>
            <input type="text" placeholder="name" @bind-value="_notification.Message"/>
        </div>
    </div>
</div>
@code { 
    [Parameter] public string Username { get; set; }
    private Notification _notification = new Notification();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Request form page "  + Username);
        _notification = await _service.GetNotificationFromAdminAsync(Username);
    }
}